/* You can add global styles to this file, and also import other style files */
table {
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid black;
    border-radius: 10px;
  }

  html{
    background-color: rgb(24, 24, 95);
    color:rgb(171, 141, 104)
}

button{
  background-color: blue;
}