<!-- <p>set-menu works!</p>

<!-- it displays buttons basing on received list of sets from config file-->
@if(data) {
    @for(set of data.config.sets; track set){
        <button>{{'MENU.'+set.toUpperCase()|translate}}</button>
    }
}

<!-- stuff below should be removed -->
<p>======================</p>
<button (click)="setTab('text')">{{'MENU.TEXT' | translate }}</button>
<button (click)="setTab('characters')">{{'MENU.CHARACTERS' | translate }}</button>
<button (click)="setTab('events')">{{'MENU.EVENTS' | translate }}</button>
<button (click)="setTab('scenes')">{{'MENU.SCENES' | translate }}</button>
<button (click)="setTab('idea')">{{'MENU.IDEAS' | translate }}</button>


@if(currentTab==="text"){
    <app-scene></app-scene>
}
@if(currentTab==="characters"){
    <p>characters</p>
}
@if(currentTab==="events"){
    <p>eventy</p>
}
@if(currentTab==="scenes"){
    <button (click)="setTab('ideaa')">{{'MENU.SCENE_METADATA' | translate }}</button>
    <button (click)="setTab('ideaa')">{{'MENU.SCENE_LIST' | translate }}</button>
    <metadata-tables></metadata-tables>
}
@if(currentTab==="ideas"){
    <metadata-tables></metadata-tables>
} -->