<p>data-tables works!</p>

<div>
  <label>
    <input type="radio" name="filterMode" [(ngModel)]="filterMode" (change)="onFilterModeChange()" value="AnyPresent" />
    All scenes where any character is present
  </label>
  <label>
    <input type="radio" name="filterMode" [(ngModel)]="filterMode" (change)="onFilterModeChange()" value="AllPresent" />
    All scenes where all characters are present
  </label>
</div>

<p>Mode: {{ filterMode }}</p>

@for(filter of filters; track filter){
  <button 
    [ngClass]="{ 'filter-on': filter.filter, 'filter-off': !filter.filter }"
    (click)="filterScenesByCharacter(filter.character)">{{filter.character}}
  </button>
}
<button (click)="filterScenesByCharacter('ALL')">All</button>

<p>Columns (todo):</p>

@for(column of columns; track column){
  <button 
  (click)="setIsColumnActive(column.col)"
  [ngClass]="{ 'filter-on': column.isVisible, 'filter-off': !column.isVisible }"
  >{{column.col}}</button>
}

<table>
    <thead>
      <tr>
        @for (header of headers; track header) {
          @if(checkColumnVisibility(header)){
            <th>{{ header }}</th>
          }
        }
        
      </tr>
    </thead>
    <tbody>
      <tbody>
        @for(item of scenes; track item.nr+item.pov){
        <tr>
          @for(header of headers; track header){
            @if(checkColumnVisibility(header)){
             <td>
            
              @if (header=="characters"){
                @for(char of item[header]; track char){
                <td> 
                  <p class="char-name" [ngClass]="{ 'filtered': isFilterOnForChar(char.name)}">{{char.name}}</p>
                  <p class="char-emot">{{char.emotions}}</p>
                  <p class="char-goal">{{char.goal}}</p>
                  <p class="char-other">{{char.other}}</p>
                </td> 
                }
              }@else if(header=="date"){
                    <td> 
                      <p class="char-name"> {{item[header].day}}.{{item[header].month}}.{{item[header].year}}, {{item[header].hour}}:00</p>
                      @if(showhide){
                        <p class="char-other">{{item[header].desc}}</p>
                      }
                    
                    </td> 
                    } @else if(header=="shortDesc"){
                      <button (click)="testSendScene(item)">testSendScene</button>
                      <button (click)="toggle()">Pokaż/Ukryj</button>
                      @if(showhide){
                        {{item[header]}}
                      }
                    }
              @else{
                @if(header=='nr'){
                  {{item['nr']}} - {{item['pov']}}
                }
                <!-- @else if(header=='pov'){} -->
                @else{
              {{ item[header] }}
                }
              }
           
          </td>
           }
        }
        </tr>
      }
    </tbody>
  </table>
